@model List<QuikAid.Models.phoneTable>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        var chart = new Chart(width: 500, height: 500, theme: ChartTheme.Yellow)
       .AddTitle("USA City Distribution")
       .AddSeries("Default", chartType: "Pie",
            xValue: Model, xField: "ShipCity",
            yValues: Model, yFields: "TotalOrders")
        .Write();
    }
</body>
</html>